<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageProcessor" version="2.9.0" targetFramework="net48" />
  <package id="ImageProcessor.Core" version="1.1.0" targetFramework="net48" />
  <package id="Magick.NET.Core" version="13.5.0" targetFramework="net48" />
  <package id="Magick.NET-Q16-AnyCPU" version="13.5.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>